@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
