@tailwind base;
@tailwind components;
@tailwind utilities;

/* Untuk browser WebKit seperti Chrome dan Safari */
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #5a5e72; /* Warna thumb (bagian yang dapat digerakkan) */
  border-radius: 4px; /* Border radius thumb */
}

::-webkit-scrollbar-track {
  background-color: #cbd5e0; /* Warna track (bagian yang tidak dapat digerakkan) */
}

/* Untuk browser selain WebKit seperti Firefox */

.scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.scrollbar-track {
  background-color: #cbd5e0; /* Warna track (bagian yang tidak dapat digerakkan) */
}

@layer components {
  .label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
